/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 100px;
  font-family: var(--main-font, "Inter Variable"), sans-serif;
  background-image: var(
    --background-gradient,
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%)
  );
  background-size: cover;
  background-attachment: fixed;
  /* в заготовке был размер 320px, но я исправила на 375, на 320 нет макета */
  min-inline-size: 375px;
  min-block-size: 100dvb;
  font-variation-settings: var(--text-weight, 400);
}

.adaptive-width {
  width: var(
    --adaptive-width,
    clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem)
  );
  max-width: 700px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--black, #000);
  padding-block: var(--frame-padding, clamp(7.5rem, 6.923rem + 2.462vw, 8rem));
  background-color: var(--white, #fff);
}

.logo {
  font-family: var(--accent-font, "Press Start 2P"), sans-serif;
  font-size: var(
    --header-title-font-size,
    clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem)
  );
  line-height: 1;
  text-transform: uppercase;
}

.header__title {
  font-family: var(--accent-font, "Press Start 2P"), sans-serif;
  font-weight: var(--text-weight, 400);
  font-size: var(
    --header-subtitle-font-size,
    clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem)
  );
  line-height: 1;
  text-transform: uppercase;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-start: 100px;
}

.card {
  border: 2px solid var(--black, #000);
  background-color: var(--white, #fff);
}

.card__title {
  padding-inline: 10px;
  padding-block: 3px;
  font-family: var(--main-font, "Inter-Variable"), sans-serif;
  font-weight: var(--card-title-weight, 400);
  font-size: 18px;
  line-height: 1.4;
}

@supports (text-stroke: 1px var(--white, #fff)) or
  (-webkit-text-stroke: 1px var(--white, #fff)) {
  .card__image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--white, #fff);
    text-stroke: 1px var(--white, #fff);
  }
}

.card__image-container {
  position: relative;
  display: block;
  display: block;
  border-top: 2px solid var(--black, #000);
  border-bottom: 2px solid var(--black, #000);
}

.card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 1 / 1;
}

.card__image-wrapper {
  position: relative;
  display: block;
}

.card__image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  color: rgba(0, 0, 0, 0.5);
  font-family: var(--accent-font, "Press Start 2P"), sans-serif;
  font-size: 14px;
  line-height: 1;
  text-shadow: 0 0 rgba(255, 255, 255, 0.5);
  mix-blend-mode: hard-light;
}

.filter__sepia {
  filter: sepia(0.25);
}

.filter__saturate {
  filter: saturate(150%);
}

.filter__grayscale {
  filter: grayscale(1) contrast(0.75) brightness(1.4);
}

.filter__hue-rotate {
  filter: hue-rotate(0.5turn);
}

.filter__blur {
  filter: blur(3px);
}

.filter__brightness {
  filter: brightness(0.75);
}

.filter__contrast {
  filter: contrast(1.3);
}

.filter__opasity {
  filter: opacity(0.85);
}

.card__footer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-inline: 25px;
  padding-block: 25px;
}

.card__footer--content {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__text {
  font-family: inherit;
  font-weight: var(--text-weight, 400);
  font-size: 18px;
  font-style: normal;
  line-height: 1.17;
}

.card__footer--buttons-wrapper {
  display: flex;
  justify-content: end;
  align-items: end;
  /* отличается от макета чтобы совпадало с pixel perfect */
  gap: 4px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  border: 2px solid transparent;
  padding-inline: 0;
  padding-block: 0;
  background-color: transparent;
}

.heart__core,
.heart__main-body {
  fill: transparent;
  transition: fill 0.3s;
}

.heart__contour {
  fill: var(--contour-color, #000);
}

.heart__sparks {
  opacity: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--black, #000);
  outline: none;
}

.like-icon:hover .heart__core {
  fill: var(--contour-color, #000);
}

.like-icon:hover .heart__main-body {
  fill: var(--contour-color, #000);
  transition-delay: 0.05s;
}

.like-icon:not(:hover) .heart__core {
  fill: transparent;
}

.like-icon:not(:hover) .heart__core {
  fill: transparent;
  transition-delay: 0.03s;
}

.like-icon:active .heart__core {
  fill: var(--sparks-color, #ff0000);
}

.like-icon:active .heart__main-body {
  fill: var(--sparks-color, #ff0000);
  transition-delay: 0.05s;
}

.like-icon.is-liked .heart__core {
  fill: var(--sparks-color, #ff0000);
  transition-delay: 0.03s;
}

.like-icon.is-liked .heart__main-body {
  fill: var(--sparks-color, #ff0000);
  transition-delay: 0.05s;
}

.like-icon.is-liked .heart__contour {
  fill: var(--sparks-color, #ff0000);
  transition-delay: 0.06s;
}

.heart {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: icon-scale 0.3s ease-in;
  animation-delay: 0.1s;
}

.like-icon.is-liked .heart__sparks {
  animation: show-sparks 0.3s ease-in;
  animation-delay: 0.3s;
}

.like-icon:not(.is-liked) .heart__contour {
  fill: var(--contour-color, #000);
  transition: fill 0.1s linear;
}

.card__like-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 39px;
  border: 2px solid var(--black, #000);
  overflow: hidden;
  background-color: var(--white, #fff);
  transition: box-shadow 0.3s ease;
}

.button__text {
  z-index: 2;
  color: var(--white, #fff);
  font-family: var(--accent-font, "Press Start 2P"), sans-serif;
  font-weight: var(--text-weight, 400);
  font-size: 14px;
  line-height: 0.9;
  mix-blend-mode: difference;
}

.save-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: center;
  width: 337px;
  height: 55px;
  border: 2px solid var(--black, #000);
  overflow: hidden;
  background-color: var(--white, #fff);
}

.floppy-icon {
  z-index: 2;
  color: var(--white, #fff);
  mix-blend-mode: difference;
}

.dialog:open {
  display: grid;
  grid-template-columns: minmax(0, max-content) minmax(0, max-content);
  align-items: center;
  row-gap: 30px;
  column-gap: 20px;
  box-sizing: border-box;
  width: var(--dialog-width, clamp(21.313rem, 21.048rem + 1.127vw, 22.063rem));
  max-width: 353px;
  border: 2px solid var(--black, #000);
  padding-inline: 30px;
  padding-block: 30px;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__icon {
  grid-column: 1;
}

.dialog__text {
  flex: 1;
  grid-column: 2;
  min-width: 0;
  font-family: var(--accent-font, "Press Start 2P"), sans-serif;
  font-weight: var(--text-weight, 400);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog-button {
  position: relative;
  display: flex;
  grid-column: 1 / 3;
  justify-content: center;
  align-items: center;
  height: 38px;
  border: 2px solid var(--black, #000);
  overflow: hidden;
  font-family: var(--accent-font, "Press Start 2P"), sans-serif;
  font-weight: var(--text-weight, 400);
  font-size: 14px;
  line-height: 0.9;
  background-color: var(--white, #fff);
}

.card__like-button:focus-visible,
.save-button:focus-visible,
.dialog-button:focus-visible {
  box-shadow: 2px 2px 0 var(--black, #000);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.card__like-button::before,
.save-button::before,
.dialog-button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: var(--black, #000);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.card__like-button:hover::before,
.save-button:hover::before,
.dialog-button:hover::before {
  transform: translateX(0);
}

@media (width <= 375px) {
  .adaptive-width {
    width: 100%;
  }

  .card__title {
    padding-inline: 10px;
    padding-block-start: 4px;
    padding-block-end: 6px;
    /* по макету значение 1, но так получается менее pixel perfect */
    line-height: 1.2;
  }

  .save-button {
    flex-direction: column;
    width: 306px;
    height: 84px;
  }

  .floppy-icon {
    width: 28px;
    height: 28px;
  }
}
